.banner {
	&.layout-02 {
		text-align: left;
		padding-top: 140px;
		padding-bottom: 140px;
		@include respond-below(sm) {
			padding-top: 70px;
			padding-bottom: 70px;
		}
		.content {
			width: 670px;
			@include respond-below(sm) {
				width: 100%;
			}
		}
		.image {
			width: 470px;
			height: 568px;
			background-size: cover;
			@include respond-below(sm) {
				width: 100%;
				height: 300px;
				margin-top: 80px;
			}
		}
		h1 {
			text-align: left;
			color: $typography-typo-01;
			font-family: "Bitter", serif;
			font-size: 64px;
			font-style: normal;
			font-weight: 700;
			line-height: 160%;
			margin-top: 0;
			margin-bottom: 24px;
			@include respond-below(sm) {
				font-size: 40px;
				margin-bottom: 16px;
			}
		}
		.description {
			text-align: left;
			color: $typography-typo-02;
			font-family: "Inter", sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			margin-bottom: 32px;
		}
		.button {
			margin-top: 0;
			margin-bottom: 0;
			@include respond-below(sm) {
				width: 100%;
			}
		}
		.features {
			margin-top: 72px;

			@include respond-below(sm) {
				width: 100%;
				row-gap: 48px;
				padding-left: 15%;
				padding-right: 15%;
			}
			.article {
				&:hover {
					text-decoration: none;
				}
				text-align: left;
				color: $typography-typo-02;
				font-family: "Inter", sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				max-width: 260px;
				@include respond-below(sm) {
					text-align: center;
				}
				img {
					float: left;
					margin-right: 8px;
					@include respond-below(sm) {
						margin-right: 0;
						margin-bottom: 8px;
						float: none;
					}
				}
				h3 {
					text-align: left;
					color: $typography-typo-01;
					font-family: "Bitter", serif;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%; /* 27px */
					margin-bottom: 4px;
					margin-top: 0;
					@include respond-below(sm) {
						text-align: center;
					}
				}
			}
		}
	}
}
